<h2 class="sub-header"><%= new_or_edit(@user) %>员工</h2>

<div class='new-user-form'>
  <div class='new-user'>
    <%= form_for(@user, html:{ class: "form-horizontal"}) do |f| %>
      <div class="form-group">
        <label class="col-sm-2 control-label">真实姓名</label>
        <div class="col-sm-10">
          <%= f.text_field :true_name, class:"form-control", readonly: @user.new_record? ? false: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-10">
          <%= f.text_field :name, class:"form-control"%>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">部门</label>
        <div class="col-sm-10">
          <%= select_tag :department_id, options_for_select(Department.all.map{|d| [d.name, d.id]},
              @user.user_department.try(:department_id)), class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">手机</label>
        <div class="col-sm-10">
          <%= f.text_field :phone, class:"form-control" %>
        </div>
      </div>

      <%if @user.new_record? %>
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">默认密码 11111111</div>
        </div>
      <%else %>
        <div class="form-group">
          <label class="col-sm-2 control-label">新密码</label>
          <div class="col-sm-10"><%= text_field_tag :password, nil, class:"form-control", placeholder: '不填则不修改' %></div>
        </div>
      <% end %>

      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10"><%= f.submit "保存", class: 'btn btn-primary' %></div>
      </div>
    <%end %>
  </div>
</div>
