<h2 class="sub-header">员工列表</h2>

<%= link_to '新建用戶', new_user_path, class:'btn btn-primary' %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>用户名</th>
    <th>姓名</th>
    <th>所属部门</th>
    <th>创建时间</th>
    <th width="200">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.true_name %></td>
      <td><%= user.department.try(:name) %></td>
      <td><%= user.created_at.strftime("%F %T") %></td>
      <td><%= link_to '编辑', edit_user_path(user), class: 'btn btn-primary' %></td>
    </tr>
  <% end %>  </tbody>
</table>
<%= paginate @users %>